<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdullahsoubeih.usingretrofitwihsql">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/retrofit_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/retrofit_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerViewWithApi.ScrollTextView.ScrollingTextViewActivity">



        </activity>
        <activity android:name=".RecyclerViewWithApi.controller.RecyclerViewWithApiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerViewWithApi.controller.DetailActivity"
            android:parentActivityName=".RecyclerViewWithApi.controller.RecyclerViewWithApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecyclerViewWithApi.controller.RecyclerViewWithApiActivity" />
        </activity>
        <activity android:name=".RetrofitWithListView.Classes.MainActivity" />
        <activity android:name=".RetrofitWithHTTPRequests.UsingHTTPRequestsActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>